
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- button fix -->
  <button type="button" class="btn btn-dark" style="margin-left: 20px;" (click)="getAll()">All inscription</button>
  <button type="button" class="btn btn-warning" style="margin-left: 10px;" (click)="getCustomerByID('free')">Free</button>
  <button type="button" class="btn btn-secondary" style="margin-left: 10px;" (click)="getCustomerByID('home')">Home</button>
  <!-- button from database -->
  <button type="button" class="btn btn-light" style="margin-left: 40px;" (click)="getCustomerByID('2')">SAP MM</button>
  <button type="button" class="btn btn-light" style="margin-left: 10px;" (click)="getCustomerByID('5')">SAP ABAP</button>
  <button type="button" class="btn btn-light" style="margin-left: 10px;" (click)="getCustomerByID('4')">SAP SD</button>
  <button type="button" class="btn btn-light" style="margin-left: 10px;" (click)="getCustomerByID('3')">SAP FI</button>
</div>

<div style="margin-top: 60px;">
  <table class="table">
    <!-- head of table fix -->
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <!-- list of inscription from database -->
    <tbody *ngFor="let customer of customers">
      <tr>
        <th scope="row">{{customer.id_person}}</th>
        <td>{{customer.full_name}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
      </tr>
    </tbody>
  </table> 
</div>
<router-outlet></router-outlet>