
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- button fix -->
  <button type="button" class="btn btn-dark" style="margin-left: 20px;">All inscription</button>
  <button type="button" class="btn btn-warning" style="margin-left: 10px;">Free</button>
  <button type="button" class="btn btn-secondary" style="margin-left: 10px;">Home</button>
  <!-- button from database -->
  <button type="button" class="btn btn-light" style="margin-left: 40px;">SAP MM</button>
  <button type="button" class="btn btn-light" style="margin-left: 10px;">SAP ABAP</button>
  <button type="button" class="btn btn-light" style="margin-left: 10px;">SAP FI</button>
</div>

<div style="margin-top: 60px;">
  <table class="table">
    <!-- head of table fix -->
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <!-- list of inscription from database -->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table> 
</div>
<router-outlet></router-outlet>
